/* header stylings */

header {
	width: 100%;
	top: 0;
	position: sticky;
	/* mix-blend-mode: color-dodge; */
	background-color: var(--background-color);
	z-index: 5;
}

.header > nav > ul {
	margin: 0rem;
	padding: 1rem;
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	border-bottom: 4px solid var(--font-color);
}