/******************************************************************************
                            Stylesheet for DBZ Psyche
******************************************************************************/

/* Root Value Stylings */

:root {
    --std-margin: 3rem;
    --font-size: 1rem;
    --body-font: body;
    --background-color: #EFEFF1;
    --background-color: #E6E6E6;
    --orange: #ED7739;
}

@font-face {
    font-family: title;
    src: url(/assets/fonts/);
}

@font-face {
    font-family: body;
    src: url('/assets/fonts/JetBrainsMono-Regular.woff2');
}

*,
*:before,
*:after {
    box-sizing: none;
    padding: 0;
    margin: none;
}

/* Body Stylings */

body {
    cursor: crosshair;
    margin: var(--std-marginq);
    font-size: var(--font-size);
    font-family: var(--body-font);
    background-color: var(--background-color);
}

.main {
    display: flex;
    flex-grow: 1;
    position: relative;
}

/* header */

.header {
    font-size: var(--font-size);
    list-style-type: none;
    margin: 0rem;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 2;
}

.header > li {
    margin-top: var(--std-margin);
    margin-left: 7.5rem;
}

.header > li > a {
    color: currentColor;
    text-decoration: none;
}

.header > li > a:hover {
    cursor: crosshair;
    color: var(--orange);
}

/* landing */

section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next {
    top: 0;
    right: 0;
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: var(--orange);
}

.landing-img {
    position: absolute;
    bottom: 0;
    width: 750px;
}

/* verse stylings */

figure img {
    border: 2px solid black;
    box-shadow: 5px 4px 0px black;
}

.verse {
    /* width: 350px; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}