body {
	font-family: var(--body-font);
}

.act-landing {
	margin-top: 3rem;
	position: relative;
    flex-direction: column;
}

.act-landing > img {
	border: 4px solid var(--font-color);
	width: 50%;
}

.act-heading {
	font-size: 7.5rem;
	text-shadow: 5px 5px 0px var(--shadow);
	margin-bottom: 1.5rem; 
	text-decoration: underline;
}

.intro {
	font-family: var(--body-font);
	/* text-align: center; */
	width: 60%;
}

.intro > a {
	color: blue;
}

.intro > a:hover {
	text-decoration: underline;
}