body {
	font-family: var(--body-font);
}

.act-landing {
	position: relative;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.act-heading {
	margin-bottom: 1.5rem;
	text-decoration: underline;
}

.intro {
	font-family: var(--body-font);
	text-align: center;
	width: 70%;
}